/* div{
    width: 400px;
    background-color: #eee;
    display: inline-block;
    margin: 10px 0;
}

.element1,
.element2,
.element3{
    background-color: #eee;
    width: 400px;
    padding: 10px 20px;
    margin: 20px;
    border-left:5px solid palevioletred ;
    outline:10px solid #eee ;
}

.element2{
    visibility: hidden;
}

.element3{
    border-color: rgb(2, 119, 2);
} */
 